---
- name: configure keyboard
  lineinfile: dest=/etc/default/keyboard
              regexp={{ item.regexp }}
              line={{ item.line }}
              backup=yes
  with_items:
  - { regexp: '^XKBLAYOUT=', line: 'XKBLAYOUT="jp"' }

#- name: check rng-tools configuration file
#  stat:
#    path: /etc/default/rng-tools
#  register: rng_tools_config
#
#- name: configure rng-tools
#  lineinfile: dest=/etc/default/rng-tools
#              regexp={{ item.regexp }}
#              insertafter={{ item.insertafter }}
#              line={{ item.line }}
#              backup=yes
#  with_items:
#  - { regexp: '^#HRNGDEVICE=/dev/hwrng', line: 'HRNGDEVICE=/dev/hwrng', insertafter: '^#HRNGDEVICE=' }
#  when: rng_tools_config.stat.exists == True

- name: configure system.conf
  block:
    - lineinfile: dest=/etc/systemd/system.conf
                  backrefs=yes
                  regexp={{ item.regexp }}
                  line={{ item.line }}
                  backup=yes
      with_items:
        - { regexp: '^RuntimeWatchdogSec=(.*)', line: '#RuntimeWatchdogSec=\1' }
        - { regexp: '^#RuntimeWatchdogSec=', line: 'RuntimeWatchdogSec=10' }
    - lineinfile: dest=/etc/systemd/system.conf
                  regexp={{ item.regexp }}
                  insertafter={{ item.insertafter }}
                  line={{ item.line }}
                  backup=yes
      with_items:
        - { regexp: '^RuntimeWatchdogSec=.*', line: 'RuntimeWatchdogSec=10', insertafter: '\[Manager\]' }

- name: disable periodic apt
  lineinfile: dest=/etc/apt/apt.conf.d/10periodic
              regexp='^APT::Periodic::Enable '
              line='APT::Periodic::Enable "0";'
              backup=yes
              create=yes

- name: set timezone
  file:
    src: /usr/share/zoneinfo/Asia/Tokyo
    dest: /etc/localtime
    state: link
    force: yes

- name: update timezone
  command: dpkg-reconfigure -f noninteractive tzdata

- name: check keyboard-setup service
  shell: systemctl is-active keyboard-setup.service
  register: keyboard_setup_result
  changed_when: no
  failed_when: no
  check_mode: no

- name: restart keyboard-setup service
  service: name=keyboard-setup state=restarted
  when: 'keyboard_setup_result.stdout == "active"'
  
- name: check console-setup service
  shell: systemctl is-active console-setup.service
  register: console_setup_result
  changed_when: no
  failed_when: no
  check_mode: no

- name: restart console-setup service
  service: name=console-setup state=restarted
  when: 'console_setup_result.stdout == "active"'

#- name: change wifi country
#  command: raspi-config nonint do_wifi_country JP

#- name: change boot behaviour
#  command: raspi-config nonint do_boot_behaviour B1

#- name: disable timesync service
#  command: timedatectl set-ntp false

